@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>Alumnos</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h5 class="text-center">Seleccione el boton de "Agregar" para añadir un alumno, el boton de amarillo para actualizarlo, y el boton rojo para eliminarlo</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="text-right">@Html.ActionLink("+", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })</p>
        </div>
    </div>
    <br />

    @if (Model.Alumnos.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="text-center">
                            <td>Editar</td>
                            <td class="form-group" style="display: none;">IdAlumno</td>
                            <td>Nombre Completo</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Alumno alumno in Model.Alumnos)
                        {
                            <tr class="text-center">
                                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno })"></a></td>
                                <td class="form-group" style="display: none;">@alumno.IdAlumno</td>
                                <td>@alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno</td>
                                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros de alumno!!!
                </div>
            </div>
        </div>
    }

</div>
